*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.om{
    color: orangered;
    margin: 0px;
    font-size: medium;
    background-color:plum;
    width: 100%;
    animation-name: padding;
    position: relative;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-timing-function:linear;
    border: 1px solid white;
    animation-iteration-count: infinite;
    
}
@keyframes padding {
    from{
        padding-left: 0;
        background-color: white;

    }
    to{
        padding-left: 100%;
    

    }

    
}
.first{
    display: flex;
}
.ram{
    width: 6em;
    margin-top: 80px;
    
    
}
.text{
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 50px;
    margin-top: 90px;
    text-shadow: 2px 2px orange;
    
     

}
.tag{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 10em;
    margin-top: 2em;

     
}
.section{
    display: flex;
    justify-content: space-between;
    margin-top:4em;

}
.upper{
    width: 25em;
      margin-right: 2em;
      margin-top: 120px;
      padding: 10px;
    box-shadow:5px 5px gray ;
    filter: grayscale(1);
    transition: all,1s;
    animation: scaleimage 5s linear 1s infinite ;
    z-index: -1; 
    object-fit: cover;
    
}
@keyframes scaleimage {
    0%{
        filter: grayscale(0);
        transform: scale(1);

    }
    50%{
        transform: scale(1.1);
        filter: grayscale(1);
        box-shadow: 3px 3px 15px black;

    }
    100%{
        transform: scale(1);
        filter: grayscale(0);

    }
    
}
.subhead{
    font-size: 35px;
    color: blue;
    margin-left: 115px;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: orange 2px 2px;

}
.check{
    width: 15px;
    margin-top: px;  
}
.keypoints{
    margin-left: 100px;
    margin-top: 40px;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    

}
.gap{
    margin-top: 6px;
}
.main{
    width: 20em;
}
.upar{
    width: 50em;
}
.paragraph{
    border: 2px solid black;
    margin-left: 3em;
    margin-top: 2em;
    transform: scaleX(1);
    transform-origin: left;
    box-shadow: 12px 12px 15px #ff32;
    transition: all 0.4s;
    background: linear-gradient(45deg, #343d68, #343d68be,#343d687c);
    z-index: 1;
    width: 5em;
    height: 2em;
    transition: width 3s, height 3s;
    
    font-size: 30px;
    
    
}
.paragraph:hover{
    width:21em;
    cursor: pointer;
    color: red;
    font-size:30px ;
    border: 3px solid aquamarine;
    height: 20em;
    opacity:1;
    object-fit: cover;
    

}
.history{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 2em;
    font-size: 35px; 
    color: rgb(194, 31, 85);
    text-shadow: 3px 3px 3px rgba(0, 0, 255, 0.61); 
    
}
.h{
    margin-top: 13em;
}
.kahani{
    width: 20em;
    opacity: 0;
}
.kahani:hover{
    opacity: 1;
    padding-left: 5px
}
.Anj{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    margin-top: 20px;
    margin-left: 30em;
    color: rgb(194, 31, 85);
    text-shadow: 3px 3px 3px rgba(0, 0, 255, 0.61);
    overflow: hidden;
}
.kahani2{
    margin-top: 12px;
    opacity:0 ;

}
.secondparagraph{
    border: 2px solid black;
    margin-left: 28em;
    
    margin-top: -9em;
    transform: scaleX(1);
    transform-origin: left;
    box-shadow: 12px 12px 15px #ff32;
    transition: all 0.4s;
    background: linear-gradient(45deg, #343d68, #343d68be,#343d687c);

    width: 5em;
    height: 2em;
    transition: width 3s, height 3s;
    
    font-size: 30px;
    

}
.secondparagraph:hover{
    width:20em;
    cursor: pointer;
    color: red;
    font-size:30px ;
    border: 3px solid aquamarine;
    height: 22em;
    opacity:1;
    object-fit: cover;
    overflow-y: hidden;
    

}
.kahani2:hover{
    opacity: 1;
    padding-left: 5px;
}
.image6{
        width: 25em;
          margin-left: 2em;
          margin-top: 120px;
          padding: 10px;
        box-shadow:5px 5px gray ;
        filter: grayscale(1);
        transition: all,1s;
        animation: scaleimage6 5s linear 1s infinite ;
        z-index: -1; 
        object-fit: cover;
        
    }
    @keyframes scaleimage6 {
        0%{
            filter: grayscale(0);
            transform: scale(1);
    
        }
        50%{
            transform: scale(1.1);
            filter: grayscale(1);
            box-shadow: 3px 3px 15px black;
    
        }
        100%{
            transform: scale(1);
            filter: grayscale(0);
    
        }
        
    }
    .thirdparagraph{
             border: 2px solid black;
             margin-left: 3em;
             margin-top:-9em;
             transform: scaleX(1);
             transform-origin: left;
             box-shadow: 12px 12px 15px #ff32;
             transition: all 0.4s;
            background: linear-gradient(45deg, #343d68, #343d68be,#343d687c);
            z-index: 1;
            width: 5em;
            height: 2em;
            transition: width 3s, height 3s;
        
             font-size: 30px;
    
        
    }
    .thirdparagraph:hover{
        width:20em; 
        cursor: pointer;
        color: red;
        font-size:30px ;
        border: 3px solid aquamarine;
        height: 15em;
        opacity:1;
        object-fit: cover;
        
        
    
    }
.image7{
         width: 25em;
         margin-left:65em;
         margin-top: 100px;
         padding: 10px;
         box-shadow:5px 5px gray ;
         filter: grayscale(1);
         transition: all,1s;
         animation: scaleimage 5s linear 1s infinite ;
         z-index: -1; 
         object-fit: cover;
    }
    .para3{
        font-size: 35px;
        margin-top: 10em;
        margin-left: 5em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: rgb(194, 31, 85);
        text-shadow: 3px 3px 3px rgba(0, 0, 255, 0.61);
    }
    .kahani3{
        opacity: 0;
    }
    .kahani3:hover{
        opacity: 1;

    }
    .image3{
        width: 25em;
       margin-left: 2em;
       margin-top:15px;
       padding: 10px;
       box-shadow:5px 5px gray ;
       filter: grayscale(1);
       transition: all,1s;
       animation: scaleimage6 5s linear 1s infinite;
        z-index: -1; 
        object-fit: cover;
    }
    .forthparagraph{
        border: 2px solid black;
        margin-left: 30em;
        margin-top:-30em;
        transform: scaleX(1);
        transform-origin: left;
        box-shadow: 12px 12px 15px #ff32;
        transition: all 0.4s;
       background: linear-gradient(45deg, #343d68, #343d68be,#343d687c);
       
       width: 5em;
       height: 2em;
       transition: width 3s, height 3s;
        font-size: 30px;

    }
    .forthparagraph:hover{
        width:20em; 
       cursor: pointer;
        color: red;
       font-size:30px ;
       border: 3px solid aquamarine;
       height: 19em;
       opacity:1;
       object-fit: cover;

    }
    .kahani4{
        opacity:0 ;
    }
    .kahani4:hover{
        opacity: 1;
    }
    .para4{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 30px;
        margin-left: 30em;
        margin-top: 10em;
        color: rgb(194, 31, 85);
        text-shadow: 3px 3px 3px rgba(0, 0, 255, 0.61);
    }
    #wrapper{
        height:60em;
        width: 50%;
        border: 2px solid black;
        margin-left:2rem;
        overflow-y: hidden;
    }
    .image2{
        width: 25em;
        margin-left: 2em;
        margin-top:15px;
        padding: 10px;
         box-shadow:5px 5px gray ;
        filter: grayscale(1);
         transition: all,1s;
        animation: scaleimage6 5s linear 1s infinite;
         z-index: -1; 
        object-fit: cover;
        height: 15em;

    }
     .container{
         height: 100%;
         max-width: 1200px;
         margin: 0 auto;
         padding: 50px;
     
     }
     .container h1{
         margin: 20px 0;
         text-align: center;
         margin-bottom: 20px;
         font-size: 3rem;
     }
      .gallary{
         display: flex;
         flex-wrap: wrap;
         justify-content: space-between;
      }
      
      .card{
         width: 32%;
         position: relative;
         margin-bottom: 20px;
         border-radius: 10px;
         overflow: hidden;
      }
      
      .card img{
          width: 100%;
          position: relative;
          filter: grayscale(100%);
          height: 100%;
          box-shadow: 0 0 20px #333;
          object-fit: cover;
      }
     
      .card:hover{
            transform: scale(1.03);
            transition:0.3s;
            filter: drop-shadow(0 0 10px #333);
      }
      .card:hover img {
         filter: grayscale(0);
      }
      .card figurecaption{
        position: absolute;
        bottom: 0;
        left: 0;
        opacity: 0;
        padding:25px;
        transition: 0.3s;  
            color: #fff;
            width: 100%;
            height: 20%;
            font-size: 16px;
            font-weight: 500;
            border-radius: 0 0 10px 10px;
            
      }
      .card:hover figurecaption{ 
        opacity: 1;
        transform: scale(1.03);
        
      } 
      .image8{
        width: 25em;
        margin-left: 60em;
        margin-top:10em;
        padding: 10px;
        box-shadow:5px 5px gray ;
        filter: grayscale(1);
        transition: all,1s;
        animation: scaleimage6 5s linear 1s infinite;
         z-index: -1; 
         object-fit: cover;

      }
      .image9{
        width: 30em;
        margin-left: 8em;
        margin-top:25em;
        padding: 10px;
        box-shadow:5px 5px gray ;
        filter: grayscale(1);
        transition: all,1s;
        animation: scaleimage6 5s linear 1s infinite;
         z-index: -1; 
         object-fit: cover;
         position: relative;

      }
      .para5{
        font-size: 30px;
        margin-left: 10em;
        margin-top: 30em;
        color: rgb(194, 31, 85);
        text-shadow: 3px 3px 3px rgba(0, 0, 255, 0.61);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      }
      .lastparagraph{
        border: 2px solid black;
       margin-left: 7em;
       margin-top:-10em;
       transform: scaleX(1);
       transform-origin: left;
       box-shadow: 12px 12px 15px #ff32;
       transition: all 0.4s;
       background: linear-gradient(45deg, #343d68, #343d68be,#343d687c); 
       z-index: 1;
       width: 5em;
       height: 2em;
       transition: width 3s, height 3s;
       font-size: 30px;
       background-color: turquoise;

      }
      .lastparagraph:hover{
        width:20em; 
        cursor: pointer;
        color: red;
        font-size:30px ;
        border: 3px solid aquamarine;
        height: 15em;
        opacity:1;
        object-fit: cover;

      }
      .kahani5{
        opacity:0 ;
      }
      .kahani5:hover{
        opacity: 1;
      }
      .anu{
        border: 2px solid black;
       margin-left: 30em;
       margin-top: -9em;
       transform: scaleX(1);
       transform-origin: left;
       box-shadow: 12px 12px 15px #ff32;
       transition: all 0.4s;
       background: linear-gradient(45deg, #343d68, #343d68be,#343d687c); 
       z-index: 1;
        width: 5em;
       height: 2em;
       transition: width 3s, height 3s;
       font-size: 30px;
       background-color: aqua;

      }
      .anu:hover{
        width:20em; 
        cursor: pointer;
        color: red;
       font-size:30px ;
       border: 3px solid aquamarine;
       height: 18em;
       opacity:1;

      }
      .kahani6{
        opacity:0 ;
      }
      .kahani6:hover{
        opacity: 1;
      }
      .fadedtext{
        user-select: none;
       font-size: 7em;
      color: rgb(231,231,231);
       
      right:0%;
     font-weight: bold;
     transition: all 3s;
     position: absolute;

      }
      .kumar{
        margin-left:-3em;
        margin-top: 9em;
        width: 100%;
        background-color: yellow;
      }

      .last{
        color: orangered;
        margin-top: -2em;
        font-size: medium;
        background-color:rgb(106, 13, 106);
        width:100%;
       animation-name: padding2;
       position: absolute;
       animation-duration: 5s;
       animation-delay: 1s;
       z-index: 1;
       animation-timing-function:linear;
      border: 1px solid white;
      animation-iteration-count: infinite;
    

      }
      @keyframes padding2 {
        from{
            padding-left: 0;
            
    
        }
        to{
            padding-left: 100%;

        }
    }



    






    
